In [2]:
t = ()

In [3]:
type(t)

tuple

In [4]:
l = []

In [5]:
type(l)

list

In [6]:
t1 = (3242,"raj",3.6565)

In [7]:
l1 = [3242,"raj",3.6565]

In [8]:
t1[0]

3242

In [10]:
l1[0] ="raja"

In [11]:
l1

['raja', 'raj', 3.6565]

In [12]:
t1

(3242, 'raj', 3.6565)

In [14]:
t1[0] = "ndcnc"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#tuple elements are immutable that means we cannot change it that means item reassignment not possible in tuples

In [15]:
t2 = (234, 54, 565)

t1

In [16]:
t1

(3242, 'raj', 3.6565)

In [17]:
t1+t2

(3242, 'raj', 3.6565, 234, 54, 565)

In [18]:
t1*4

(3242,
 'raj',
 3.6565,
 3242,
 'raj',
 3.6565,
 3242,
 'raj',
 3.6565,
 3242,
 'raj',
 3.6565)

In [19]:
t1

(3242, 'raj', 3.6565)

In [21]:
"raj" in t1

True

In [22]:
"bcsbc" in t1

False

In [23]:
t1

(3242, 'raj', 3.6565)

In [24]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [25]:
t3 = (1,2,3,4,5)

In [26]:
max(t3)

5

In [27]:
t4 = ("dsdjfe", "ehb")

In [28]:
max(t4)

'ehb'

In [31]:
t4.index("ehb")

1

In [32]:
t5 = (4353,6337,63737,9878)

In [34]:
t5.index(6337)

1

In [35]:
t6 = (1,1,2,33,33,33,33,4)

In [36]:
t6.count(33)

4

In [37]:
min(t6)

1

In [38]:
t1

(3242, 'raj', 3.6565)

In [39]:
l3 = list(t1)

In [40]:
l3

[3242, 'raj', 3.6565]

In [42]:
l3.insert(3, t6)

l3

In [43]:
l3

[3242,
 'raj',
 3.6565,
 (1, 1, 2, 33, 33, 33, 33, 4),
 (1, 1, 2, 33, 33, 33, 33, 4)]

In [44]:
tuple(l3)

(3242,
 'raj',
 3.6565,
 (1, 1, 2, 33, 33, 33, 33, 4),
 (1, 1, 2, 33, 33, 33, 33, 4))

In [47]:
t = ((1,2,3,4,5), (45,5,5,5,6,7),("vfg",5,"dbdfdfg"), [1,2,3,5,6])

In [50]:
for i in t:
    if type(i)==list:
        print(i)

[1, 2, 3, 5, 6]

In [51]:
t1

(3242, 'raj', 3.6565)

In [52]:
t2

(234, 54, 565)

In [53]:
if len(t1)==len(t2):
    print("its same")
else:
    print("not same")

its same

In [1]:
t = ("raja", "Ganesh")

In [3]:
i = input("take user input")
if i in t:
    print("yes your name is available")
else:
    print("ur name is not available")

take user inputraja
yes your name is available

In [4]:
l = [22,33,44]

In [5]:
##set

In [6]:
x = set()

In [7]:
type(x)

set

In [9]:
l = [34,45,45,45,"raj","raj", "kumar", "kumar"]

In [10]:
set(l)

{34, 45, 'kumar', 'raj'}

In [11]:
#set removes duplicates

In [ ]:
#set tries to hold unique elements

In [12]:
#set is case sensitive

In [13]:
s = set(l)

In [14]:
s

{34, 45, 'kumar', 'raj'}

In [15]:
for i in s:
    print(i)

34
kumar
45
raj

In [16]:
34 in s

True

In [17]:
s[0]

TypeError: 'set' object does not support indexing

In [ ]:
#set' object does not support indexing

In [18]:
s = set()

In [20]:
s.add(45)

s

In [21]:
s

{45}

In [23]:
s.add(123)

In [24]:
s

{45, 123}

In [25]:
s.remove(45)

In [26]:
s

{123}

In [27]:
s.clear()

In [28]:
s

set()

In [29]:
s.add("hcbhcbbc")

In [30]:
s.add(662)

In [31]:
s

{662, 'hcbhcbbc'}

In [32]:
#+,* any operations not allowed in set

In [33]:
s

{662, 'hcbhcbbc'}

In [35]:
l4 = list(s)

In [36]:
l4.append(111)

In [37]:
l4

[662, 'hcbhcbbc', 111]

In [38]:
x = {}

In [39]:
type(x)

dict

In [40]:
x1 ={34, 56}

In [41]:
type(x1)

set

In [43]:
#dictionary(key, value pair)

In [51]:
x ={6565:47676, "name" :"raj", "age" :27, "name" : "fjkvfkjvkfd", True:"jfbvfvb", False : "fdvbdf"}

In [52]:
x

{6565: 47676,
 'name': 'fjkvfkjvkfd',
 'age': 27,
 True: 'jfbvfvb',
 False: 'fdvbdf'}

In [48]:
#key is the default index in dict

In [53]:
type(x)

dict

In [ ]:
#keys should be unique, values can be duplicate.

In [54]:
x

{6565: 47676,
 'name': 'fjkvfkjvkfd',
 'age': 27,
 True: 'jfbvfvb',
 False: 'fdvbdf'}

In [55]:
#dict inside dict is possible

In [57]:
x

{6565: 47676,
 'name': 'fjkvfkjvkfd',
 'age': 27,
 True: 'jfbvfvb',
 False: 'fdvbdf'}

In [58]:
l = [1,2,3,4,5,"ehbbd"]
l[5]

'ehbbd'

In [59]:
x

{6565: 47676,
 'name': 'fjkvfkjvkfd',
 'age': 27,
 True: 'jfbvfvb',
 False: 'fdvbdf'}

In [61]:
x["name"]

'fjkvfkjvkfd'

In [63]:
x4 = {"k4" :"dcvsdcv"}

In [64]:
x+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [65]:
x4

{'k4': 'dcvsdcv'}

In [66]:
x

{6565: 47676,
 'name': 'fjkvfkjvkfd',
 'age': 27,
 True: 'jfbvfvb',
 False: 'fdvbdf'}

In [69]:
x["name"] = "raj nirmale"

In [70]:
x["name"]

'raj nirmale'

In [71]:
x

{6565: 47676,
 'name': 'raj nirmale',
 'age': 27,
 True: 'jfbvfvb',
 False: 'fdvbdf'}

In [72]:
x["age"]

27

In [74]:
x["age"] = x["age"]-10

In [75]:
x

{6565: 47676,
 'name': 'raj nirmale',
 'age': 17,
 True: 'jfbvfvb',
 False: 'fdvbdf'}

In [76]:
x.keys()

dict_keys([6565, 'name', 'age', True, False])

In [79]:
for i in x.keys():
    print(type(x[i]))

<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>

In [80]:
x5 = {(1,2,3,4) : "vhdbhdbhc"}

In [81]:
x5[(1,2,3,4)]

'vhdbhdbhc'

In [82]:
#tuples can be used as key

In [83]:
len(x5)

1

In [1]:
i = input("Enter your data")

Enter your dataThere are many problems and difficulties in our daily daily daily life life people think of those difficulties and bcome sad

In [2]:
list(i)

['T',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'p',
 'r',
 'o',
 'b',
 'l',
 'e',
 'm',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'd',
 'i',
 'f',
 'f',
 'i',
 'c',
 'u',
 'l',
 't',
 'i',
 'e',
 's',
 ' ',
 'i',
 'n',
 ' ',
 'o',
 'u',
 'r',
 ' ',
 'd',
 'a',
 'i',
 'l',
 'y',
 ' ',
 'd',
 'a',
 'i',
 'l',
 'y',
 ' ',
 'd',
 'a',
 'i',
 'l',
 'y',
 ' ',
 'l',
 'i',
 'f',
 'e',
 ' ',
 'l',
 'i',
 'f',
 'e',
 ' ',
 'p',
 'e',
 'o',
 'p',
 'l',
 'e',
 ' ',
 't',
 'h',
 'i',
 'n',
 'k',
 ' ',
 'o',
 'f',
 ' ',
 't',
 'h',
 'o',
 's',
 'e',
 ' ',
 'd',
 'i',
 'f',
 'f',
 'i',
 'c',
 'u',
 'l',
 't',
 'i',
 'e',
 's',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'b',
 'c',
 'o',
 'm',
 'e',
 ' ',
 's',
 'a',
 'd']

In [3]:
set(i)

{' ',
 'T',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'h',
 'i',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'y'}

In [4]:
i

'There are many problems and difficulties in our daily daily daily life life people think of those difficulties and bcome sad'

In [5]:
list(set(i))

['b',
 'y',
 'i',
 'c',
 'm',
 'T',
 'n',
 'e',
 'u',
 'd',
 'h',
 'k',
 'a',
 'o',
 'f',
 'p',
 's',
 ' ',
 'l',
 'r',
 't']

In [6]:
i

'There are many problems and difficulties in our daily daily daily life life people think of those difficulties and bcome sad'

In [8]:
x1 = i.split( " ")

In [9]:
x1

['There',
 'are',
 'many',
 'problems',
 'and',
 'difficulties',
 'in',
 'our',
 'daily',
 'daily',
 'daily',
 'life',
 'life',
 'people',
 'think',
 'of',
 'those',
 'difficulties',
 'and',
 'bcome',
 'sad']

In [1]:
paragraph = input("Enter the para")
lst1 = paragraph.split(" ")
s1 = set(lst1)
dic1 = dict.fromkeys(s1,"raj")
t1 = tuple(dic1.keys())
l2= list(dic1.values())

Enter the para cjc cklacn aclknas kcskc scjascn

In [2]:
lst1

['', 'cjc', 'cklacn', 'aclknas', 'kcskc', 'scjascn']

In [3]:
s1

{'', 'aclknas', 'cjc', 'cklacn', 'kcskc', 'scjascn'}

In [4]:
dic1

{'': 'raj',
 'scjascn': 'raj',
 'aclknas': 'raj',
 'cklacn': 'raj',
 'kcskc': 'raj',
 'cjc': 'raj'}

In [5]:
t1

('', 'scjascn', 'aclknas', 'cklacn', 'kcskc', 'cjc')

In [11]:
d = {"company":"ineuron", "course":"full stack data science", "year":2021}

In [7]:
for i in d:
    print("print a key : ",i, " ; ", "value wise", d[i])

print a key :  company  ;  value wise ineuron
print a key :  course  ;  value wise full stack data science
print a key :  year  ;  value wise 2021

In [9]:
"course" in d

True

In [12]:
for i in d:
    if i=="year":
        if d[i]>2021:
            print("year is fine")
        else :
            d[i]= 2022

In [13]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [14]:
my_dict={}
for i in range(10):
    my_dict[i] = i*i

In [15]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}